.containner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  /* height: 100%; */
}

.game {
  height: 100%;
}

.button-game {
  width: 200px;
  padding: 10px 15px;
  font-size: 23px;
}