@font-face {
  font-family: "myFirstFont";
  src: url("fonts/ZFTERMIN__.ttf");
  font-weight: bold;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'myFirstFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'myFirstFont';
}

button {
  font-family: 'myFirstFont';
}

#root {
  height: 100%;
}